/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Buffers */
.buffer-top {
    margin-top: 20px ;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.buffer-both {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

/* Thumbnails for events/index */
.thumbnail {
    position: relative;
    background: transparent;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

.thumbnail h3 {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: .3em;
}

.thumbnail-inner {
    padding: 20px 4px 4px;
}

.label_type {
    margin-top: 2px;
    margin-left: 7px;
}

.event-info {
    position: relative;
    color: white;
    overflow: hidden;
    margin-bottom: 20px;
}

.event-background {
    position: absolute;
    width: 100%;
    z-index: -1;

    top: 0; bottom: 0;
    left: 0; right: 0;

    background-size: cover;
    background-position: center;

    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.event-description * {
    color: white;
}

.event-description a {
    color: #d0d0ff;
}

.event-description small {
    color: #e0e0e0;
}

.event-info-inner {
    background:rgba(0, 0, 0, 0.4);
}

.event-map {
    margin: 20px 0;
    width: 100%;
    height: 400px;
}

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

//body {
//  background: #cecece
//}
//
//header {
//  background: #000;
//  color: #fff
//}

//.left-side,
//.right-side {
//  height: 100vh
//}
//
//.navbar-transparent {
//  background: transparent
//}
//
//.navbar-nav>li>a {
//  color: #565050
//}

//.navbar-nav>li:hover {
//  border-bottom: 1px solid #3b3636
//}

//.navbar-nav>.active {
//  border-bottom: 1px solid #000000
//}

//.navbar-brand {
//  font-family: 'Allerta Stencil', sans-serif;
//  color: #83ff00
//}

//.navbar-brand:hover {
//  color: #ee0c0c
//}

//.left-side img {
//  padding-top: 100px
//}
//
//.shape {
//  width: 100%;
//  height: 100vh;
//  background: linear-gradient(to bottom, #343232, #ffffff 70%);
//  position: absolute;
//  -webkit-clip-path: ellipse(500px 500px at 10% 5%)
//}
//
//.right-side {
//  padding-top: 150px
//}
//
//.right-side h1 {
//  font-family: 'Allerta Stencil', sans-serif;
//  font-size: 2.4em;
//  text-align: center
//}
//
//.right-side p {
//  font-size: 1.5em;
//  text-align: center;
//  font-weight: bold
//}
//
.btn.order-button {
  background: transparent;
  border: 2px solid #83ff00;
  color: #83ff00;
  border-radius: 30%;
  transition: 0.7s
}

.btn.order-button:hover {
  border: 2px solid #ce0000;
  color: #ce0000
}